## .NET / Visual Studio

bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# User-specific files
*.rsuser

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Secrets
*.pfx
appsettings.*.local.json
